.Ynote-section .button-container {float: right;}
.Ynote-section .Ynote-payment-text { display: inline-block; vertical-align: middle; width: 50%}
.Ynote-section .Ynote-payment-logo {
    background: url("https://www.Ynote.fr/web/image/res.company/1/logo?unique=4b04666")  no-repeat 0 0% / 18rem auto;display: inline-block;vertical-align: middle;
    margin: 0 20px 0 0px;width: 180px;height: 60px;background-repeat: no-repeat, no-repeat, no-repeat;
}


